<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Accounts</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-button color="success" (click)="newPerson()" size="default">Account Erstellen</ion-button>
        </ion-item>
        <ion-item *ngFor="let person of this.people">
            <ion-label>
                {{person.vulgo}}
            </ion-label>
            <ion-badge color="primary">{{person.statistics}}</ion-badge>
            <ion-icon slot="end" name="settings-outline" (click)="editPerson(person.uid)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>