<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Aufladen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <!-- Sender -->
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Sender
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6">
                                    <b>
                                      Name:
                                    </b>
                                    <b>
                                      Guthaben:
                                    </b>
                                </ion-col>
                                <ion-col>
                                    {{sender["vulgo"]}} <br> {{ sender["balance"]/100 | number: '1.2-2'}} Fr.
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <br>
                        <ion-button (click)="setSender()">
                            Karte Scannen
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col>
                <div class="xc">
                    <ion-img src="assets/arrow.png" style="width: 50%;"></ion-img>
                </div>
                <!-- Amount -->
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Betrag
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none">
                            <ion-icon name="remove" slot="start" size="large" (click)="decreaseAmount()"></ion-icon>
                            <ion-label>
                                {{amount}} Fr.
                            </ion-label>
                            <ion-icon name="add" slot="end" size="large" (click)=" increaseAmount() "></ion-icon>
                        </ion-item>
                        <ion-range min="0 " max="100 " pin="true" [(ngModel)]="amount " style="padding-top: 10px; "></ion-range>
                        <ion-button (click)="sendMoney()" >
                            Überweisen
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <!-- Receiver -->

            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Empfänger
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size=" 6 ">
                                    <b>
                                      Name:
                                    </b>
                                    <b>
                                      Guthaben:
                                    </b>
                                </ion-col>
                                <ion-col>
                                    {{receiver["vulgo"]}} <br> {{receiver["balance"]/100 | number: '1.2-2'}} Fr.
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                        <br>
                        <ion-button (click)="setReceiver()">
                            Karte Scannen
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>