<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <br>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    System
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col class="xc">
                        <ion-button color="danger" (click)="shutdown()">
                            Herunterfahren
                        </ion-button>
                    </ion-col>
                    <ion-col class="xc">
                        <ion-button color="danger" (click)="reboot()">
                            Neustart
                        </ion-button>
                    </ion-col>
                    <ion-col class="xc">
                        <ion-button color="danger" (click)="backup()">
                            Backup
                        </ion-button>
                    </ion-col>
                    <ion-col class="xc">
                        <ion-button color="danger" (click)="newDay()">
                            Neuer Abend
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <br>
        
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Neues Wifi
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>

                <ion-item>
                    <ion-label position="floating">SSID</ion-label>
                    <ion-input [(ngModel)]="new_ssid"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Passwort</ion-label>
                    <ion-input [(ngModel)]="new_password"></ion-input>
                </ion-item>
                <br>
                <ion-button (click)="addWifi()">Wifi Hinzuefüege</ion-button>
            </ion-card-content>
        </ion-card>

        <br>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Wifis
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let wifi of this.wifis">
                        <ion-label>
                            {{wifi.ssid}}
                        </ion-label>
                        <ion-icon slot="end" name="trash-outline" (click)="deleteWifi(wifi.ssid)"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

    </ion-grid>
</ion-content>